.categories h1 {
  font-size: 22px;
  color:var(--text-primary);  
  margin-bottom: 20px;
}
.card{
  width: 80%;;
  height: 150px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}