* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
}

.page {
  flex: 1;
  padding: 30px;
  background: var(--toggle-bg);
}